[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
flask = "*"
requests = "*"
jinja2 = "*"
black = "*"

[dev-packages]
ipython = "*"
pyupgrade = "*"

[requires]
python_version = "3.13"
