<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fancy AYSO schedule formatter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Paste the calendar URL here</h1>
    <p>Hint: it'll look something like "webcal://calendar.bluesombrero.com/something"</p>
    <form method="POST">
        <label for="url-input">URL:</label>
        <input type="text" name="url" id="url-input">
        <button>Submit</button>
    </form>
</body>
</html>